.container {
  display: flex;
  border: 2px solid black;
  background: rgb(255, 255, 255);
    width: 80vw;
    margin: 0 auto;
}

.header {
    grid-area: taskboard;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo {
    display: flex;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 2vw;
    margin: 0.5vw;
    padding: 1vw;
}

.logo:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}

.search input {
    width: 40vw;
    height: 2vw;
    border: 2px solid black;
    margin-left: 0.5vw;
    padding: 1vw;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2vw;
}

.btn button {
    padding: 0.5vw;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 0.5vw;
    font-size: 1vw;
    cursor: pointer;
    padding: 1vw;
}

.btn button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.n-bell {
    border: 1px solid black;
    margin-left: 1vw;
    padding: 0.5vw;
    font-size: 1.5vw;
}

.profile {
    margin-left: 1vw;
}


